@model ABC_Cinema.Models.TaiKhoan
@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}

<h2>XÁC NHẬN THÔNG TIN CẦN XÓA</h2>
<h3 style="color: red; font-weight: bold;">Bạn quyết định xóa quản trị viên này?</h3>
<h4 style="color: red; font-weight: bold;">@Html.Raw(ViewBag.ThongBao)</h4>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên tài khoản:
        </dt>

        <dd>
            <p>@Html.DisplayFor(model => model.TenDangNhap)</p>
        </dd>

        <dt>
            Tên QTV:
        </dt>

        <dd>
            @if (Model.ThongTin.TenNguoiDung != null)
            {
                <p>@Html.DisplayFor(model => model.ThongTin.TenNguoiDung)</p>
            }
            else
            {
                <p>N/A</p>
            }
        </dd>

        <dt>
            Giới tính:
        </dt>

        <dd>
            @if (Model.ThongTin.GioiTinh == true)
            {
                <p>Nam</p>
            }
            else if (Model.ThongTin.GioiTinh == false)
            {
                <p>Nữ</p>
            }
            else
            {
                <p>N/A</p>
            }
        </dd>

        <dt>
            Ngày sinh:
        </dt>

        <dd>
            @if (Model.ThongTin.NgaySinh != null)
            {
                <p>@Html.FormatValue(@Model.ThongTin.NgaySinh, "{0:dd/MM/yyyy}")</p>
            }
            else
            {
                <p>N/A</p>
            }
        </dd>

        <dt>
            Địa chỉ:
        </dt>

        <dd>
            @if (Model.ThongTin.DiaChi != null)
            {
                <p>@Html.DisplayFor(model => model.ThongTin.DiaChi)</p>
            }
            else
            {
                <p>N/A</p>
            }
        </dd>

        <dt>
            Email:
        </dt>

        <dd>
            <p>@Html.DisplayFor(model => model.ThongTin.Email)</p>
        </dd>

        <dt>
            Ngày đăng ký:
        </dt>

        <dd>
            <p>@Html.FormatValue(@Model.NgayDangKy, "{0:dd/MM/yyyy}")</p>
        </dd>
    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="XÓA" class="btn btn-default" /> | @Html.ActionLink("VỀ TRANG QUẢN LÝ QUẢN TRỊ VIÊN", "Index")
        </div>
    }
</div>