@using PagedList.Mvc
@model PagedList.IPagedList<ABC_Cinema.Models.LoaiPhong>

@helper Truncate(string s, int length)
{
    var plainText = System.Text.RegularExpressions.Regex.Replace(s, "<.*?>", ""); // Loại bỏ mã HTML
    if (plainText.Length <= length)
    {
        @Html.Raw(plainText)
    }
    else
    {
        var truncatedText = plainText.Substring(0, length);
        @Html.Raw(truncatedText + "...")
    }
}

@{
    ViewBag.Title = "Index_LP";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";
}
<h3 style="text-align: center; font-weight: bold;">QUẢN LÝ LOẠI PHÒNG</h3>
<div class="flex-box-2">
    <div>
        <a href="@Url.Action("Create_LP","PhongChieu")" class="btn btn-success" role="button"><span class="fa fa-plus"></span> Thêm mới</a>
        <a href="@Url.Action("Index","PhongChieu")" class="btn btn-warning" role="button"><span class="fa fa-reply"></span> Phòng chiếu</a>
    </div>
</div>

<div class="row">
    <div class="">
        <div class="table-responsive">
            <table id="mytable" class="table table-bordred table-striped">
                <thead>
                <th>Tên loại phòng</th>
                <th>Mô tả</th>
                <th style="width: 13px;"></th>
                <th style="width: 13px;"></th>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.TenLoaiPhong</td>
                            <td>@Html.Raw(Truncate(item.MoTa, 250).ToString())</td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Sửa"><a href="@Url.Action("Edit_LP", new {id = item.Id_LoaiPhong})" class="btn btn-warning btn-xs" role="button"><span class="glyphicon glyphicon-pencil"></span></a></p></td>
                            <td><p data-placement="top" data-toggle="tooltip" title="Xóa"><a href="@Url.Action("Delete_LP", new {id = item.Id_LoaiPhong})" class="btn btn-danger btn-xs" role="button"><span class="glyphicon glyphicon-trash"></span></a></p></td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<div style="text-align: center;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    <div style="display: inline;">
        @Html.PagedListPager(Model, page => Url.Action("Index_LP", new { page = page }))
    </div>
</div>

